@import "./../../mixins.scss";
.subheader {
  padding: 0 20px;
  padding-left: 0;
}
.welcome-modal :global(#ModalWindow) {
  width: 400px;
}
.welcome-modal :global(#ModalWindow) h2 {
  font-family: Poppins;
}
.welcome-modal :global(#ModalWindow) :global(.icon-button) {
  margin: auto;
  width: 100%;
}
.step-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
}
.step-wrapper .sign-in-instead-ticker a {
  font-weight: bold;
}
