/* .logo {
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 100%;
  cursor: default;
}
.logo img {
  width: 100%;
  cursor: default;
}
.breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}
.breadcrumbs .breadcrumb-step {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
.breadcrumbs .breadcrumb-step.number {
  padding: 21px 0px;
  box-sizing: border-box;
  display: inline-flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  min-width: 3em;
  width: 4em;
  height: 3em;
}
.breadcrumbs .breadcrumb-step.number span {
  padding: 4.5px 11.8px;
  border-radius: 100%;
  background-color: #cad1d621;
}
.breadcrumbs .breadcrumb-step.connector {
  height: 100%;
  min-height: 75px;
  width: 2px;
  background-color: #3eaef421;
}
.breadcrumbs .breadcrumb-step span:not(:first-of-type) {
  margin: 0 10px;
}
.breadcrumbs .breadcrumb-step.active span:first-of-type {
  font-weight: bold;
}
.breadcrumbs .breadcrumb-step.active.connector {
  background-color: var(--blue, blue);
}
.breadcrumbs .breadcrumb-step.active.number {
  background-color: white;
  border: 3px solid var(--blue, blue);
}
.breadcrumbs .breadcrumb-step.active.number span {
  background-color: var(--blue, blue);
  font-size: 12px;
  box-sizing: border-box;
  color: white;
} */
